
body {
    background-color: rgb(87,87,87);
    margin: auto;
    max-width: 900px;
    font-family: Verdana, Arial;
}

/*#title, .subtitle, .post_title {
    color: green;
}*/

.img_1 {
    border-radius: 50%;
    background-color: black;
}

.title {
    color: rgb(239,187,64);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    /*padding: 5px;*/
}

.subtitle {
    color: rgb(51,51,51);
    font-size: 30px;
    text-transform: uppercase;
    background-color: rgb(239,187,64);
}

.post_title {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    color: rgb(206,206,206);
    background-color: rgb(51,51,51);
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid rgb(239,187,64);
   /* border-top-right-radius: 20px; */
    border-bottom-right-radius: 20px ;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: justify;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.base-page {
    color: whitesmoke;
    background-color: rgb(51,51,51);
    width: auto;
}

